html,
body,
.intro {
    height: 100%;
}

table td,
table th {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.mask-custom {
    background: rgba(24, 24, 16, .2);
    border-radius: 2em;
    backdrop-filter: blur(25px);
    border: 2px solid rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}

.label {
    /*border: 1px solid #000;*/
}

.label {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}

a.label:hover,
a.label:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.label:empty {
    display: none;
}

.btn .label {
    position: relative;
    top: -1px;
}

.label-default {
    background-color: #777777;
}

    .label-default[href]:hover,
    .label-default[href]:focus {
        background-color: #5e5e5e;
    }

.label-primary {
    background-color: #337ab7;
}

    .label-primary[href]:hover,
    .label-primary[href]:focus {
        background-color: #286090;
    }

.label-success {
    background-color: #5cb85c;
}

    .label-success[href]:hover,
    .label-success[href]:focus {
        background-color: #449d44;
    }

.label-info {
    background-color: #5bc0de;
}

    .label-info[href]:hover,
    .label-info[href]:focus {
        background-color: #31b0d5;
    }

.label-warning {
    background-color: #f0ad4e;
}

    .label-warning[href]:hover,
    .label-warning[href]:focus {
        background-color: #ec971f;
    }

.label-danger {
    background-color: #d9534f;
}

    .label-danger[href]:hover,
    .label-danger[href]:focus {
        background-color: #c9302c;
    }

.myInput {
    background: rgba(24, 24, 16, .2);
    backdrop-filter: blur(100px);
    border: rgba(255, 255, 255, 0.05);
    background-clip: padding-box;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
    color: #fff !important;
}

    .myInput:focus {
        background: rgba(24, 24, 16, .2);
        backdrop-filter: blur(100px);
        border: rgba(255, 255, 255, 0.05);
        background-clip: padding-box;
        box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
        color: #fff !important;
    }

    .myInput select:active, select:hover {
        outline: none;
        color: #000;
        background: #000;
        background-color: #000;
    }

    .myInput option {
        outline: none;
        color: #fff;
        background-color: rgba(22, 24, 16, 22);
        border: rgba(255, 255, 255, 0.05);
        background-clip: padding-box;
    }
